.header {
  font-weight: bold;
  font-size: large;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: orange;
}

.button {
  font-weight: bold;
  background-color: blanchedalmond;
  color: brown;
  border: 0px;
  font-style: italic;
  text-transform: capitalize;
  height: 2rem;
  width: auto;
  margin: 1rem;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2px);
  }
}
